.rangedisplay {
	color: #999999;
	display: flex;
	font-size: 0.875rem;
	justify-content: space-between;
}
.rangedisplay .rangevalue {
	flex-basis: 0;
	flex-grow: 1;
	width: 50%;
}
.rangedisplay .rangevalue span { color: #111111; font-weight: 600; }
.rangedisplay .rangevalue.form-group:first-of-type { margin-right: 5px; }
.rangedisplay .rangevalue.form-group:last-of-type { margin-left: 5px; }
.rangedisplay .rangevalue.form-group label { margin-bottom: 0; }
.rangedisplay .rangevalue.form-group .form-control { font-size: 0.875rem; height: calc(1.75rem + 2px); padding: 0.25rem 0.5rem; }

/* RANGE SLIDER THEME */
.rangeslider .noUi-horizontal {
	height: 8px !important;
	margin: 15px 0;
}
.rangeslider .noUi-origin {
	background-color: #c8c8c8;
	border-radius: 0;
	height: 8px;
	margin: 0;
	position: absolute;
	width: 0;
}
.rangeslider .noUi-horizontal .noUi-handle {
	background-color: #544c46;
	border: 2px solid #ffffff;
	border-radius: 100%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
	box-sizing: border-box;
	cursor: pointer;
	height: 20px;
	left: -10px;
	position: relative;
	top: -6px;
	transition: all .2s ease-out;
	width: 20px;
	z-index: 1;
}
.rangeslider .slider .noUi-connect {
	background-color: #6c635c;
	border-radius: 4px;
}
.rangeslider .noUi-base{
	height: 8px;
	top: 0;
}
.rangeslider .noUi-handle:before,.rangeslider .noUi-handle:after{ content: none; }
.noUi-target { background-color: #bbbbbb; border: 0; box-shadow: none; }
.noUi-handle.noUi-active { transform: scale3d(1.2,1.2,1); }
.noUi-handle:focus { outline: none; }
.formfilter .fieldlabel {
	color: #555555;
	font-weight: 600;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
}
/* //SEARCH FILTER POPUP */